spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/workspace/spring/jpa/jpa-practical1/jpashop #;MVCC=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
      naming:
            physical-strategy: tk.youngdk.jpashop.common.PrefixPhysicalNamingStrategy
    properties:
      hibernate:
        # show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate:
      SQL: debug
      type: trace